body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #a1aab4;
}

.download-button {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
.download-button:hover {
  background-color: #45a049;
}
