<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script src="/script.js"></script>
    <title>mp4 Audio Kompressor</title>
  </head>
  <body>
    <h1>Audiokompressor auf mp4 anwenden</h1>
    <form onsubmit="uploadFile(); return false;">
      <input type="file" name="file" accept="video/mp4" required />
      <button type="submit">Starten</button>
    </form>
    <div id="status"></div>
    <div id="download-container"></div>
  </body>
</html>
