<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <title>MP4 Audio Compressor</title>
  </head>
  <body>
    <h1>Apply Audio Compression to MP4</h1>
    <form id="upload-form" onsubmit="uploadFile(); return false;">
      <input type="file" name="file" accept="video/mp4" required />
      <button type="submit">Start</button>
    </form>
    <div id="progress-container">
      <div id="progress-bar">0%</div>
    </div>    
    <div id="status"></div>
    <div id="download-container"></div>
  </body>
</html>
